# Public Assistance Funded Projects Details - v1
Author: Mark Bauer

In [1]:
# import libraries
import duckdb
from datetime import datetime

In [2]:
# reproducibility
%reload_ext watermark
%watermark -v -p duckdb

Python implementation: CPython
Python version       : 3.11.0
IPython version      : 8.6.0

duckdb: 1.0.0

In [3]:
# data retrieved
current_date = datetime.now()
print(f"This notebook was executed on {current_date.strftime('%Y-%m-%d')}.")

This notebook was executed on 2024-10-20.

Note: This analysis uses the Federal Emergency Management Agency’s OpenFEMA API, but is not endorsed by FEMA. The Federal Government or FEMA cannot vouch for the data or analyses derived from these data after the data have been retrieved from the Agency's website(s).

Read more about OpenFEMA's [Terms and Conditions](https://www.fema.gov/about/openfema/terms-conditions).

# OpenFEMA Dataset: Public Assistance Funded Projects Details - v1

## Dataset
Federal Emergency Management Agency (FEMA), OpenFEMA Dataset: Public Assistance Funded Projects Details - v1. Retrieved from https://www.fema.gov/openfema-data-page/public-assistance-funded-projects-details-v1. This product uses the FEMA OpenFEMA API, but is not endorsed by FEMA. The Federal Government or FEMA cannot vouch for the data or analyses derived from these data after the data have been retrieved from the Agency's website(s).

Read more about [OpenFEMA Terms and Conditions](https://www.fema.gov/about/openfema/terms-conditions).

## Dataset Description
>The Public Assistance Funded Projects Details dataset contains obligated (financial obligation to grantee) Public Assistance projects, lists public assistance recipients designated as applicants in the data, and a list of every funded, individual project, called project worksheets. Open projects still under pre-obligation processing are not represented. Applicant details can be obtained by relating this dataset with the OpenFEMA Public Assistance Applicants dataset using the Applicant ID field.

Source: [Public Assistance Funded Projects Details - v1](https://www.fema.gov/openfema-data-page/public-assistance-funded-projects-details-v1)

## Disaster Delcarations
For more information on the disaster declaration process:
- Information about disasters: https://www.fema.gov/disasters
- How a disaster is declared: https://www.fema.gov/disasters/how-declared

# Additional Resources
To examine other cool data visualizations about this data, visit FEMA's [Public Assistance Program Summary of Obligations](https://www.fema.gov/data-visualization/public-assistance-program-summary-obligations) page.

# Read In Data

In [4]:
# create a duckdb database connection
con = duckdb.connect()

# create public_assistance table from OpenFEMA parquet file
con.execute("""
    CREATE TABLE public_assistance AS
    FROM read_csv('https://www.fema.gov/api/open/v1/PublicAssistanceFundedProjectsDetails.csv')
"""
)

# sanity check
sql = """
    SELECT *
    FROM public_assistance
    LIMIT 5
"""

con.sql(sql)

┌────────────────┬─────────────────────┬──────────────┬───┬──────────────────────┬──────────────────────┐
│ disasterNumber │   declarationDate   │ incidentType │ … │         hash         │          id          │
│     int64      │      timestamp      │   varchar    │   │       varchar        │       varchar        │
├────────────────┼─────────────────────┼──────────────┼───┼──────────────────────┼──────────────────────┤
│           4023 │ 2011-09-02 00:00:00 │ Hurricane    │ … │ 5ff26ea21f9af4de5d…  │ d247f735-5e5d-4d47…  │
│           4155 │ 2013-11-08 00:00:00 │ Severe Storm │ … │ 39a1559d2dd1a04afa…  │ 39552c91-2dc1-4519…  │
│           4226 │ 2015-06-26 00:00:00 │ Severe Storm │ … │ aef455b4030e92d3c7…  │ d02b7bb6-fb6c-4fb4…  │
│           4314 │ 2017-05-22 00:00:00 │ Severe Storm │ … │ 727e5a2e3628d483b2…  │ 044e88f1-b38e-483c…  │
│           4337 │ 2017-09-10 00:00:00 │ Hurricane    │ … │ ab453e975b05cc1163…  │ 98731455-3b88-4fc0…  │
├────────────────┴─────────────────────┴──────────────┴───┴──────────────────────┴──────────────────────┤
│ 5 rows                                                                           22 columns (5 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [5]:
# pandas dataframe view
con.sql(sql).df()

,disasterNumber,declarationDate,incidentType,pwNumber,applicationTitle,applicantId,damageCategoryCode,projectSize,county,countyCode,...,stateNumberCode,projectAmount,federalShareObligated,totalObligated,obligatedDate,dcc,damageCategory,lastRefresh,hash,id
0,4023,2011-09-02,Hurricane,247,MCMDG00 Trumbull Ave Revetment,009-47500-00,G - Recreational or Other,Large,New Haven,9,...,9,614291.00,614291.00,614291.00,2012-04-05,G,Recreational or Other,2024-03-23 17:02:09.387,5ff26ea21f9af4de5dce40c1f4ab2324b11b5fcb,d247f735-5e5d-4d47-9b4b-58a2fa6396b4
1,4155,2013-11-08,Severe Storm,173,SG107 - Donated Resources,093-62100-00,B - Protective Measures,Small,Meade,93,...,46,20739.92,16506.90,16506.90,2024-03-22,B,Protective Measures,2024-03-23 17:02:09.387,39a1559d2dd1a04afafdcde601838082c65b4729,39552c91-2dc1-4519-87fb-b6beb815a0ad
2,4226,2015-06-26,Severe Storm,62,SCT002C - Roads and Culverts,127-99127-00,C - Roads and Bridges,Large,Scott,127,...,5,205754.79,154316.09,154316.09,2015-12-08,C,Roads and Bridges,2024-03-23 17:02:09.387,aef455b4030e92d3c7219138d3456fcebdd789bf,d02b7bb6-fb6c-4fb4-a029-58fdfc9848f9
3,4314,2017-05-22,Severe Storm,14,DUARW01 - PAAP Debris Removal 1-30 Days,051-20500-00,A - Debris Removal,Large,Holmes,51,...,28,2115399.61,1687334.81,1687334.81,2017-07-21,A,Debris Removal,2024-03-23 17:02:09.387,727e5a2e3628d483b2ac6407f48663a3a69a144e,044e88f1-b38e-483c-b579-80a60c6a10fa
4,4337,2017-09-10,Hurricane,6679,Zoo Exhibit and Trail Repairs,099-UXTQE-00,"G - Parks, Recreational Facilities, and Other ...",Large,Palm Beach County,99,...,12,137858.93,124077.54,124077.54,2020-01-24,G,"Parks, Recreational Facilities, and Other Items",2024-09-06 15:04:53.183,ab453e975b05cc11633455ccde7607fdd24ff1ca,98731455-3b88-4fc0-af7f-dae089378537

In [6]:
# list tables and schemas
con.sql("SHOW ALL TABLES").df()

,database,schema,name,column_names,column_types,temporary
0,memory,main,public_assistance,"[disasterNumber, declarationDate, incidentType...","[BIGINT, TIMESTAMP, VARCHAR, BIGINT, VARCHAR, ...",False

In [7]:
# count of rows
con.sql("""
    SELECT
        COUNT(*) AS count_rows
    FROM
        public_assistance
""")

┌────────────┐
│ count_rows │
│   int64    │
├────────────┤
│     800128 │
└────────────┘

In [8]:
# count of columns
con.sql("""
    SELECT
        COUNT(column_name) AS count_columns
    FROM
        (DESCRIBE FROM public_assistance)
""")

┌───────────────┐
│ count_columns │
│     int64     │
├───────────────┤
│            22 │
└───────────────┘

# Examine Dataset
## Column Info

In [9]:
# examine column datatypes
con.sql("""
    SELECT
        column_name,
        column_type
    FROM
        (DESCRIBE public_assistance)
""").show(max_rows=30)

┌───────────────────────┬─────────────┐
│      column_name      │ column_type │
│        varchar        │   varchar   │
├───────────────────────┼─────────────┤
│ disasterNumber        │ BIGINT      │
│ declarationDate       │ TIMESTAMP   │
│ incidentType          │ VARCHAR     │
│ pwNumber              │ BIGINT      │
│ applicationTitle      │ VARCHAR     │
│ applicantId           │ VARCHAR     │
│ damageCategoryCode    │ VARCHAR     │
│ projectSize           │ VARCHAR     │
│ county                │ VARCHAR     │
│ countyCode            │ BIGINT      │
│ state                 │ VARCHAR     │
│ stateCode             │ VARCHAR     │
│ stateNumberCode       │ BIGINT      │
│ projectAmount         │ DOUBLE      │
│ federalShareObligated │ DOUBLE      │
│ totalObligated        │ DOUBLE      │
│ obligatedDate         │ TIMESTAMP   │
│ dcc                   │ VARCHAR     │
│ damageCategory        │ VARCHAR     │
│ lastRefresh           │ TIMESTAMP   │
│ hash                  │ VARCHAR     │
│ id                    │ VARCHAR     │
├───────────────────────┴─────────────┤
│ 22 rows                   2 columns │
└─────────────────────────────────────┘

In [10]:
# examine column null percentage
con.sql("""
    SELECT
        column_name,
        null_percentage
    FROM
        (SUMMARIZE FROM public_assistance)
    WHERE
        null_percentage > 0
    ORDER BY
        null_percentage DESC
""").show(max_rows=80)

┌──────────────────┬─────────────────┐
│   column_name    │ null_percentage │
│     varchar      │  decimal(9,2)   │
├──────────────────┼─────────────────┤
│ county           │            1.69 │
│ projectSize      │            1.63 │
│ countyCode       │            1.63 │
│ applicationTitle │            0.78 │
└──────────────────┴─────────────────┘

## Preview Data

In [11]:
# preview data
sql = """
    SELECT *
    FROM public_assistance
    LIMIT 5   
"""

# preview first 12 columns
con.sql(sql).df().iloc[:, :12]

,disasterNumber,declarationDate,incidentType,pwNumber,applicationTitle,applicantId,damageCategoryCode,projectSize,county,countyCode,state,stateCode
0,4023,2011-09-02,Hurricane,247,MCMDG00 Trumbull Ave Revetment,009-47500-00,G - Recreational or Other,Large,New Haven,9,Connecticut,CT
1,4155,2013-11-08,Severe Storm,173,SG107 - Donated Resources,093-62100-00,B - Protective Measures,Small,Meade,93,South Dakota,SD
2,4226,2015-06-26,Severe Storm,62,SCT002C - Roads and Culverts,127-99127-00,C - Roads and Bridges,Large,Scott,127,Arkansas,AR
3,4314,2017-05-22,Severe Storm,14,DUARW01 - PAAP Debris Removal 1-30 Days,051-20500-00,A - Debris Removal,Large,Holmes,51,Mississippi,MS
4,4337,2017-09-10,Hurricane,6679,Zoo Exhibit and Trail Repairs,099-UXTQE-00,"G - Parks, Recreational Facilities, and Other ...",Large,Palm Beach County,99,Florida,FL

In [12]:
# preview last 12 columns
con.sql(sql).df().iloc[:, 12:]

,stateNumberCode,projectAmount,federalShareObligated,totalObligated,obligatedDate,dcc,damageCategory,lastRefresh,hash,id
0,9,614291.00,614291.00,614291.00,2012-04-05,G,Recreational or Other,2024-03-23 17:02:09.387,5ff26ea21f9af4de5dce40c1f4ab2324b11b5fcb,d247f735-5e5d-4d47-9b4b-58a2fa6396b4
1,46,20739.92,16506.90,16506.90,2024-03-22,B,Protective Measures,2024-03-23 17:02:09.387,39a1559d2dd1a04afafdcde601838082c65b4729,39552c91-2dc1-4519-87fb-b6beb815a0ad
2,5,205754.79,154316.09,154316.09,2015-12-08,C,Roads and Bridges,2024-03-23 17:02:09.387,aef455b4030e92d3c7219138d3456fcebdd789bf,d02b7bb6-fb6c-4fb4-a029-58fdfc9848f9
3,28,2115399.61,1687334.81,1687334.81,2017-07-21,A,Debris Removal,2024-03-23 17:02:09.387,727e5a2e3628d483b2ac6407f48663a3a69a144e,044e88f1-b38e-483c-b579-80a60c6a10fa
4,12,137858.93,124077.54,124077.54,2020-01-24,G,"Parks, Recreational Facilities, and Other Items",2024-09-06 15:04:53.183,ab453e975b05cc11633455ccde7607fdd24ff1ca,98731455-3b88-4fc0-af7f-dae089378537

In [13]:
# count duplicate IDs
con.sql("""
    SELECT
        id,
        COUNT(id) AS count
    FROM
        public_assistance
    GROUP BY
        id
    HAVING
        count > 1
""")

┌─────────┬───────┐
│   id    │ count │
│ varchar │ int64 │
├─────────┴───────┤
│     0 rows      │
└─────────────────┘

In [14]:
# latest record refreshed date
sql = """
    SELECT
        lastRefresh
    FROM
        public_assistance
    ORDER BY
        lastRefresh DESC
    LIMIT 1
"""

record_last_updated = (
    con
    .sql(sql)
    .df()
    .loc[:, ['lastRefresh']]
    .values[0][0]
)

print(f"Record last updated at: {record_last_updated}")

Record last updated at: 2024-10-20T15:05:23.895000000

In [15]:
# top 5 earliest last refreshed
sql = """
    SELECT
        lastRefresh,
        disasterNumber,
        state,
        applicationTitle,
        substring(declarationDate::VARCHAR, 1, 4) as year,
        incidentType,
        totalObligated
    FROM
        public_assistance
    ORDER BY
        lastRefresh ASC
    LIMIT 5
"""

con.sql(sql).df()

,lastRefresh,disasterNumber,state,applicationTitle,year,incidentType,totalObligated
0,2024-03-22 11:47:01.426,1751,Arkansas,DONATED RESOURCES,2008,Severe Storm,1590.00
1,2024-03-22 11:47:01.426,1751,Arkansas,DONATED RESOURCES,2008,Severe Storm,2820.00
2,2024-03-22 11:47:01.426,1751,Arkansas,ROADS AND BRIDGES,2008,Severe Storm,5869.13
3,2024-03-22 11:47:01.426,1751,Arkansas,DONATED RESOURCES,2008,Severe Storm,11506.96
4,2024-03-22 11:47:01.426,1751,Arkansas,ROADS AND BRIDGES,2008,Severe Storm,27406.33

In [16]:
# top 5 latest last refreshed
sql = """
    SELECT
        lastRefresh,
        disasterNumber,
        state,
        applicationTitle,
        substring(declarationDate::VARCHAR, 1, 4) as year,
        incidentType,
        totalObligated
    FROM
        public_assistance
    ORDER BY
        lastRefresh DESC
    LIMIT 5
"""

con.sql(sql).df()

,lastRefresh,disasterNumber,state,applicationTitle,year,incidentType,totalObligated
0,2024-10-20 15:05:23.895,4562,Oregon,181792 - OSP & FM_CAT B_EPM_HOLIDAY FIRE_CONFL...,2020,Fire,782688.66
1,2024-10-20 15:05:23.895,4285,North Carolina,4-C0297 Shawcroft Road Permanent Repair,2016,Hurricane,716223.09
2,2024-10-20 15:05:23.895,4339,Puerto Rico,CLOSEOUT MCHS003 - Building Damages and Equipm...,2017,Hurricane,20333.75
3,2024-10-20 15:05:23.895,4339,Puerto Rico,CLOSEOUT MMID002 Asociacion Comunidad Monteria...,2017,Hurricane,44288.42
4,2024-10-20 15:05:23.895,4339,Puerto Rico,CLOSEOUT Equipment Damages with Content,2017,Hurricane,10481.75

In [17]:
# top 5 earliest declared disaster event
sql = """
    SELECT
        declarationDate,
        disasterNumber,
        state,
        applicationTitle,
        substring(declarationDate::VARCHAR, 1, 4) as year,
        incidentType,
        totalObligated
    FROM
        public_assistance
    ORDER BY
        declarationDate ASC
    LIMIT 5
"""

con.sql(sql).df()

,declarationDate,disasterNumber,state,applicationTitle,year,incidentType,totalObligated
0,1998-08-26,1239,Texas,IMMEDIATE NEEDS FUNDING,1998,Severe Storm,80340.00
1,1998-08-26,1239,Texas,(L),1998,Severe Storm,333171.72
2,1998-08-26,1239,Texas,L,1998,Severe Storm,53975.01
3,1998-08-26,1239,Texas,Not Provided,1998,Severe Storm,17745.86
4,1998-08-26,1239,Texas,Not Provided,1998,Severe Storm,15461.00

In [18]:
# top 5 latest disaster declared event
sql = """
    SELECT
        declarationDate,
        disasterNumber,
        state,
        applicationTitle,
        substring(declarationDate::VARCHAR, 1, 4) as year,
        incidentType,
        totalObligated
    FROM
        public_assistance
    ORDER BY
        declarationDate DESC
    LIMIT 5
"""

con.sql(sql).df()

,declarationDate,disasterNumber,state,applicationTitle,year,incidentType,totalObligated
0,2024-10-11,4834,Florida,Expedited Contractual Services Project,2024,Hurricane,4.407218e+08
1,2024-10-11,4834,Florida,Expedited Mutual Aid,2024,Hurricane,1.635179e+08
2,2024-10-11,4834,Florida,EXP - Plant City - CAT B Emergency Protective ...,2024,Hurricane,6.101983e+05
3,2024-10-11,4834,Florida,EXP - Plant City - CAT A Debris Removal - POP 1,2024,Hurricane,1.885000e+06
4,2024-09-28,4828,Florida,Expedited Contractual Services Project,2024,Hurricane,3.041577e+08

In [19]:
# examine top 5 largest totalObligated record
sql = """
    SELECT *
    FROM
        public_assistance
    ORDER BY
        totalObligated DESC
    LIMIT 5
"""

# slice through columns
con.sql(sql).df().iloc[:, :12]

,disasterNumber,declarationDate,incidentType,pwNumber,applicationTitle,applicantId,damageCategoryCode,projectSize,county,countyCode,state,stateCode
0,4485,2020-03-25,Biological,35,COVID-19 Medical Surge Staffing,000-U0109-00,B - Emergency Protective Measures,Large,Statewide,453,Texas,TX
1,4339,2017-09-20,Hurricane,6099,MEPA078 Puerto Rico Electrical Power Authority...,000-UA2QU-00,F - Utilities,Large,Statewide,127,Puerto Rico,PR
2,4339,2017-09-20,Hurricane,7382,MAAA200 Puerto Rico Aqueduct and Sewer Authori...,000-UK5O0-00,F - Utilities,Large,Statewide,127,Puerto Rico,PR
3,4340,2017-09-20,Hurricane,1425,XMUET95 - GM708286 -St. Croix Island-Wide Unif...,000-UET63-01,C - Roads and Bridges,Large,Statewide,10,Virgin Islands,VI
4,4480,2020-03-20,Biological,150,Vaccination Center(s),061-51000-41,B - Emergency Protective Measures,Large,New York County,61,New York,NY

In [20]:
# slice through columns
con.sql(sql).df().iloc[:, 12:]

,stateNumberCode,projectAmount,federalShareObligated,totalObligated,obligatedDate,dcc,damageCategory,lastRefresh,hash,id
0,48,9.053782e+09,9.053782e+09,9.053782e+09,2020-09-29,B,Emergency Protective Measures,2024-07-31 19:58:22.029,03e62eb8dc779c1224ee63ce9e1386dda1bea50e,617d34c9-e66a-4ca1-bf0f-557a752693e8
1,72,4.132895e+09,5.119352e+09,5.119352e+09,2020-09-23,F,Utilities,2024-10-09 15:06:10.686,673cc2dc6e10c39c5517042512473a2cda2c8c3c,26482a89-6541-41ec-b124-e37c642b2abc
2,72,2.304165e+09,2.114759e+09,2.114759e+09,2021-01-08,F,Utilities,2024-10-03 15:20:18.531,f4266f1e75b97a076d5107c04bba634b583cd1bc,8f59d572-3459-418a-8f6f-eefa0a2e019f
3,78,1.791529e+09,1.755698e+09,1.755698e+09,2024-10-03,C,Roads and Bridges,2024-10-04 15:34:11.733,7a46c3c4e44dab5b1039b4fe2b1572e8b0d6f98d,46a06619-08d3-45b3-843e-326f6f4b4680
4,36,1.691034e+09,1.691034e+09,1.691034e+09,2021-01-24,B,Emergency Protective Measures,2024-07-31 19:58:22.029,5640a648f122b43717a70f7a528a951617a283dc,6ddd40d7-54e2-4d12-a236-b3697b14290d

In [21]:
# identify combination of unique records
sql = """
    SELECT
       disasterNumber,
       state,
       applicantId,
       applicationTitle,
       pwNumber,
       count(id) AS count
    FROM
        public_assistance
    GROUP BY ALL
    ORDER BY
        count DESC, disasterNumber ASC  
    LIMIT 10
"""

con.sql(sql).df()

,disasterNumber,state,applicantId,applicationTitle,pwNumber,count
0,1294,Pennsylvania,045-76792-00,PUMPING STATION,304,2
1,1334,North Dakota,079-80020-00,EMERGENCY WORK FOR EAGLES VIEW & TURTLEVILLE H...,1295,2
2,1446,Guam,000-UU5GZ-00,EMERGENCY WORK,1220,2
3,1539,Florida,015-0332A-00,PUBLIC BUILDINGS AND FACILITIES,4268,2
4,1551,Florida,033-0517F-00,Net Small Project Cost Overrun (NSPO),3855,2
5,1571,Alaska,050-78245-00,SHED REPAIR,99,2
6,1577,California,000-U8RA6-00,PARK REPAIR- PT. MUGU STATE PARK,1069,2
7,1577,California,037-30000-00,EMERGENCY PROTECTIVE MEASURES - CAMINO SAN RAF...,2859,2
8,1577,California,059-1C6FF-00,RESERVOIR REPAIR- TALEGA RESERVOIR,1538,2
9,1577,California,111-UL4GF-00,DAM REPAIR- ARUNDELL BARRANCA,1989,2

The duplicates suggests that one disaster number, state, applicant, and project worksheet (PW) can have at least two records in this dataset. Let's examine further.

In [22]:
# examine count unique for applicantTitle = 'PUMPING STATION' for disaster 1294
(con
 .sql("""
    SELECT *
    FROM
        public_assistance
    WHERE
        applicationTitle = 'PUMPING STATION'
        AND disasterNumber = 1294
""")
 .df()
 .describe(include='object')
 .loc['unique']
)

incidentType          1
applicationTitle      1
applicantId           1
damageCategoryCode    2
projectSize           1
county                1
state                 1
stateCode             1
dcc                   2
damageCategory        2
hash                  2
id                    2
Name: unique, dtype: object

In [23]:
# add damage category to identify unique records
sql = """
    SELECT
       disasterNumber,
       state,
       applicantId,
       applicationTitle,
       pwNumber,
       damageCategory,
       count(id) AS count
    FROM
        public_assistance
    GROUP BY ALL
    ORDER BY
        count DESC, disasterNumber ASC  
    LIMIT 10
"""

con.sql(sql).df()

,disasterNumber,state,applicantId,applicationTitle,pwNumber,damageCategory,count
0,1539,Florida,015-0332A-00,PUBLIC BUILDINGS AND FACILITIES,4268,Public Buildings,2
1,1551,Florida,033-0517F-00,Net Small Project Cost Overrun (NSPO),3855,Recreational or Other,2
2,1603,Louisiana,071-06A69-00,UT/ WATER TREATMENT PLANT (WEST BANK),1936,Public Buildings,2
3,1603,Louisiana,071-55000-00,CARVER PENN PLAYGROUND,3301,Public Buildings,2
4,1603,Louisiana,051-UANIZ-00,EJE0058 REPLACEMENT OF SPECIAL FUNCTIONS & STO...,4006,Public Buildings,2
5,1603,Louisiana,071-UHDXF-00,LIGHT CITY CHURCH AND CHRISTIAN ACADEMY,20109,Public Buildings,2
6,1603,Louisiana,071-UENQ9-00,DAC/COI COSTS,21021,Public Buildings,2
7,1603,Louisiana,117-04F21-00,EWA0023 BCS'SUPERIOR ELEMENTARY SCHOOL BLDG. A,2308,Public Buildings,2
8,1603,Louisiana,117-08150-00,CITY HALL BUILDING,4367,Public Buildings,2
9,1603,Louisiana,071-02E99-00,ST MARY'S ACADEMY - SWIMMING POOL,16239,Public Buildings,2

In [24]:
# add project size
sql = """
    SELECT
       disasterNumber,
       state,
       applicantId,
       applicationTitle,
       pwNumber,
       projectSize,
       damageCategory,
       count(id) AS count
    FROM
        public_assistance
    GROUP BY ALL
    ORDER BY
        count DESC, disasterNumber ASC  
    LIMIT 10
"""

con.sql(sql).df()

,disasterNumber,state,applicantId,applicationTitle,pwNumber,projectSize,damageCategory,count
0,1239,Texas,465-19792-00,IMMEDIATE NEEDS FUNDING,1,Large,Protective Measures,1
1,1239,Texas,465-99465-00,Not Provided,23,Small,Roads and Bridges,1
2,1239,Texas,465-062A0-00,Not Provided,27,Small,Public Buildings,1
3,1239,Texas,465-062A0-00,L,28,Large,Public Buildings,1
4,1239,Texas,463-99463-00,Not Provided,54,Small,Roads and Bridges,1
5,1239,Texas,463-99463-00,Not Provided,55,Small,Roads and Bridges,1
6,1239,Texas,463-99463-00,Not Provided,57,Small,Roads and Bridges,1
7,1239,Texas,465-062A0-00,Not Provided,61,Small,Public Buildings,1
8,1239,Texas,465-000A1-00,Not Provided,67,Small,Public Buildings,1
9,1239,Texas,465-99465-00,L,70,Large,Roads and Bridges,1

From the analysis above, unique record consist of a disaster, a state, an applicant, PW number, project size, and damage category.

# Summary Statistics

In [25]:
# summary statistics
sql = """
    SUMMARIZE
        SELECT *
        FROM public_assistance
"""

con.sql(sql).df()

,column_name,column_type,min,max,approx_unique,avg,std,q25,q50,q75,count,null_percentage
0,disasterNumber,BIGINT,1239,4834,1658,2644.8032189849623,1282.3435294583908,1603,1859,4143,800128,0.00
1,declarationDate,TIMESTAMP,1998-08-26 00:00:00,2024-10-11 00:00:00,1272,None,None,None,None,None,800128,0.00
2,incidentType,VARCHAR,Biological,Winter Storm,28,None,None,None,None,None,800128,0.00
3,pwNumber,BIGINT,1,108017,20071,1652.7270811670132,2812.4249005260904,192,598,1716,800128,0.00
4,applicationTitle,VARCHAR,\t1-30 day debris removal,"¿Public Health Division 14, July 6, 2021 thru ...",531301,None,None,None,None,None,800128,0.78
5,applicantId,VARCHAR,000-00000-01,999-99999-99,67748,None,None,None,None,None,800128,0.00
6,damageCategoryCode,VARCHAR,A - Debris Removal,Z - State Management,16,None,None,None,None,None,800128,0.00
7,projectSize,VARCHAR,Large,Small,2,None,None,None,None,None,800128,1.63
8,county,VARCHAR,Abbeville,Ziebach,3561,None,None,None,None,None,800128,1.69
9,countyCode,BIGINT,0,840,333,71.84950198190873,81.78430406469897,14,54,105,800128,1.63
10,state,VARCHAR,Alabama,Wyoming,63,None,None,None,None,None,800128,0.00
11,stateCode,VARCHAR,AK,WY,61,None,None,None,None,None,800128,0.00
12,stateNumberCode,BIGINT,0,1003,60,31.938379859222525,28.462248884046275,19,32,42,800128,0.00
13,projectAmount,DOUBLE,-372687108.0,9053782360.01,605340,338555.86592993897,14736543.031356422,3964.7216442921435,12020.788937021878,43157.75290009091,800128,0.00
14,federalShareObligated,DOUBLE,-372687108.0,9053782360.01,627550,309817.51612332376,14495910.563616406,3139.4236266517223,9680.814315312911,35187.367669150175,800128,0.00
15,totalObligated,DOUBLE,-376423296.25,9053782360.01,661149,310584.1216519752,14500259.377777914,3235.270212422886,9925.176934867435,35913.31078759798,800128,0.00
16,obligatedDate,TIMESTAMP,1998-09-15 00:00:00,2024-10-19 00:00:00,7501,None,None,None,None,None,800128,0.00
17,dcc,VARCHAR,A,Z,8,None,None,None,None,None,800128,0.00
18,damageCategory,VARCHAR,Buildings and Equipment,Water Control Facilities,16,None,None,None,None,None,800128,0.00
19,lastRefresh,TIMESTAMP,2024-03-22 11:47:01.426,2024-10-20 15:05:23.895,149,None,None,None,None,None,800128,0.00
20,hash,VARCHAR,0000290a56046086abb4a55c5a9fb1d88c01b3bb,ffffb6b610ad0d6fbffa634e902f53c1fb398484,806735,None,None,None,None,None,800128,0.00
21,id,VARCHAR,000002c6-2553-42e7-b260-631126e47c47,ffffff4b-7443-4161-97fe-19b06696bc45,813695,None,None,None,None,None,800128,0.00

In [26]:
# examine 'projectAmount', 'federalShareObligated', 'totalObligated' summary stats
sql = """
    SELECT *
    FROM (SUMMARIZE public_assistance)
    WHERE column_name IN (
        'projectAmount',
        'federalShareObligated',
        'totalObligated'
    )
"""

con.sql(sql).df()

,column_name,column_type,min,max,approx_unique,avg,std,q25,q50,q75,count,null_percentage
0,projectAmount,DOUBLE,-372687108.0,9053782360.01,605340,338555.86592993897,14736543.031356422,3964.7216442921435,12020.788937021878,43157.75290009091,800128,0.0
1,federalShareObligated,DOUBLE,-372687108.0,9053782360.01,627550,309817.51612332376,14495910.563616406,3139.4236266517223,9680.814315312911,35187.367669150175,800128,0.0
2,totalObligated,DOUBLE,-376423296.25,9053782360.01,661149,310584.1216519752,14500259.377777914,3235.270212422886,9925.176934867435,35913.31078759798,800128,0.0

# Analysis
Add constraint `WHERE declarationDate >= '2003-01-01'` to be consistent with FEMA's online [data visualization](https://www.fema.gov/data-visualization/public-assistance-program-summary-obligations).

In [27]:
# preview data
con.sql("""
    SELECT *
    FROM public_assistance
    LIMIT 5
""").df()

,disasterNumber,declarationDate,incidentType,pwNumber,applicationTitle,applicantId,damageCategoryCode,projectSize,county,countyCode,...,stateNumberCode,projectAmount,federalShareObligated,totalObligated,obligatedDate,dcc,damageCategory,lastRefresh,hash,id
0,4023,2011-09-02,Hurricane,247,MCMDG00 Trumbull Ave Revetment,009-47500-00,G - Recreational or Other,Large,New Haven,9,...,9,614291.00,614291.00,614291.00,2012-04-05,G,Recreational or Other,2024-03-23 17:02:09.387,5ff26ea21f9af4de5dce40c1f4ab2324b11b5fcb,d247f735-5e5d-4d47-9b4b-58a2fa6396b4
1,4155,2013-11-08,Severe Storm,173,SG107 - Donated Resources,093-62100-00,B - Protective Measures,Small,Meade,93,...,46,20739.92,16506.90,16506.90,2024-03-22,B,Protective Measures,2024-03-23 17:02:09.387,39a1559d2dd1a04afafdcde601838082c65b4729,39552c91-2dc1-4519-87fb-b6beb815a0ad
2,4226,2015-06-26,Severe Storm,62,SCT002C - Roads and Culverts,127-99127-00,C - Roads and Bridges,Large,Scott,127,...,5,205754.79,154316.09,154316.09,2015-12-08,C,Roads and Bridges,2024-03-23 17:02:09.387,aef455b4030e92d3c7219138d3456fcebdd789bf,d02b7bb6-fb6c-4fb4-a029-58fdfc9848f9
3,4314,2017-05-22,Severe Storm,14,DUARW01 - PAAP Debris Removal 1-30 Days,051-20500-00,A - Debris Removal,Large,Holmes,51,...,28,2115399.61,1687334.81,1687334.81,2017-07-21,A,Debris Removal,2024-03-23 17:02:09.387,727e5a2e3628d483b2ac6407f48663a3a69a144e,044e88f1-b38e-483c-b579-80a60c6a10fa
4,4337,2017-09-10,Hurricane,6679,Zoo Exhibit and Trail Repairs,099-UXTQE-00,"G - Parks, Recreational Facilities, and Other ...",Large,Palm Beach County,99,...,12,137858.93,124077.54,124077.54,2020-01-24,G,"Parks, Recreational Facilities, and Other Items",2024-09-06 15:04:53.183,ab453e975b05cc11633455ccde7607fdd24ff1ca,98731455-3b88-4fc0-af7f-dae089378537

## Statistics

In [28]:
sql = """
    SELECT
        ROUND(SUM(totalObligated), 0)::BIGINT AS totalObligated
    FROM
        public_assistance
    WHERE
        declarationDate >= '2003-01-01'
"""

con.sql(sql)

┌────────────────┐
│ totalObligated │
│     int64      │
├────────────────┤
│   239639591774 │
└────────────────┘

In [29]:
# format dollar value
totalObligated = con.sql(sql).df().values[0][0]

print(f"Total public assistance program total obligated amount: ${totalObligated:,}")

Total public assistance program total obligated amount: $239,639,591,774

In [30]:
sql = """
    SELECT
        COUNT(DISTINCT disasterNumber)
    FROM
        public_assistance
    WHERE
        declarationDate >= '2003-01-01'
"""

disasterNumber = con.sql(sql).df().values[0][0]

print(f"Total public assistance program declarations: {disasterNumber:,}")

Total public assistance program declarations: 1,462

In [31]:
sql = """
    SELECT
        COUNT(DISTINCT applicantId)
    FROM
        public_assistance  
    WHERE
        declarationDate >= '2003-01-01'
"""

applicantName = con.sql(sql).df().values[0][0]

print(f"Number of applicants with funded projects: {applicantName:,}")

Number of applicants with funded projects: 60,790

## Tables

**Table xx.** Top 20 Disaster Declarations, States, Years, and Incident Types with the Highest Total Obligated Amount

In [32]:
sql = """
    SELECT
        disasterNumber,
        state,
        substring(declarationDate::VARCHAR, 1, 4) as year,
        incidentType,
        ROUND(SUM(totalObligated), 0)::BIGINT AS totalObligated
    FROM
        public_assistance
    WHERE
        declarationDate >= '2003-01-01'    
    GROUP BY ALL
    ORDER BY
        totalObligated DESC   
    LIMIT 20
"""

con.sql(sql).df()

    disasterNumber           state  year incidentType  totalObligated
0             4339     Puerto Rico  2017    Hurricane     34219012591
1             4480        New York  2020   Biological     15621948518
2             4340  Virgin Islands  2017    Hurricane     15613097183
3             4485           Texas  2020   Biological     14931375168
4             4085        New York  2012    Hurricane     14734769570
5             1603       Louisiana  2005    Hurricane     13666166213
6             4482      California  2020   Biological     11859337690
7             4486         Florida  2020   Biological      3704570313
8             1604     Mississippi  2005    Hurricane      3218622940
9             4488      New Jersey  2020   Biological      3065122302
10            4496   Massachusetts  2020   Biological      3000648669
11            4332           Texas  2017    Hurricane      2926236242
12            4559       Louisiana  2020    Hurricane      2878431248
13            4611       Louisiana  2021    Hurricane      2708671159
14            4481      Washington  2020   Biological      2575697107
15            4484       Louisiana  2020   Biological      2496593976
16            4337         Florida  2017    Hurricane      2463907651
17            4673         Florida  2022    Hurricane      2371842629
18            4086      New Jersey  2012    Hurricane      2243002711
19            1791           Texas  2008    Hurricane      2223441188

**Table xx.** Number and Total Amount Obligations by Damage Category

In [33]:
sql = """
    SELECT
        damageCategoryCode,
        COUNT(totalObligated) AS countObligated,
        ROUND(SUM(totalObligated), 0)::BIGINT AS totalObligated
    FROM
        public_assistance
    WHERE
        declarationDate >= '2003-01-01'
    GROUP BY
        damageCategoryCode 
    ORDER BY
        damageCategoryCode ASC
"""

con.sql(sql).df()

,damageCategoryCode,countObligated,totalObligated
0,A - Debris Removal,74495,19731447297
1,B - Emergency Protective Measures,56003,101109718074
2,B - Emergency Work Donated Resources,1709,46054652
3,B - Protective Measures,144887,13410518780
4,C - Roads and Bridges,217011,15970269942
5,D - Water Control Facilities,9668,2347825641
6,E - Buildings and Equipment,18620,18131279521
7,E - Public Buildings,74326,18481469278
8,F - Public Utilities,31184,11227176882
9,F - Utilities,7457,22342104876
10,"G - Parks, Recreational Facilities, and Other ...",9347,2830257212
11,G - Recreational or Other,31158,3967811751
12,Z - Direct Administrative Costs,1805,1461592079
13,Z - Management Costs,13611,6482305390
14,Z - Section 324 Management Costs,46,233409189
15,Z - State Management,7984,1866351210

**Table xx.** Incident Types with the Highest Total Obligated Amount

In [34]:
sql = """
    SELECT
        incidentType,
        ROUND(SUM(totalObligated), 0)::BIGINT AS totalObligated
    FROM
        public_assistance
    WHERE
        declarationDate >= '2003-01-01'    
    GROUP BY
        incidentType
    ORDER BY
        totalObligated DESC   
"""

con.sql(sql).df()

                       incidentType  totalObligated
0                         Hurricane    117704128429
1                        Biological     85751511508
2                      Severe Storm     12211035769
3                             Flood      5617721440
4                          Wildfire      3972705596
5                   Severe Storm(s)      3741265684
6                              Fire      2105294513
7                    Tropical Storm      2032557897
8                        Earthquake      1424343349
9                  Severe Ice Storm      1238587018
10                        Snowstorm      1062232431
11                     Winter Storm       827478713
12                            Other       623227413
13                          Tornado       568142179
14                          Typhoon       399218674
15                          Volcano       124893424
16                    Mud/Landslide        73041864
17                          Tsunami        50365943
18                             Snow        30753523
19                    Coastal Storm        29997143
20                  Dam/Levee Break        21025562
21                Volcanic Eruption        11132782
22  National Special Security Event         6215069
23                        Terrorist         6195206
24                         Freezing         3343649
25                         Chemical         1639099
26                 Toxic Substances         1458636
27                          Drought           79260

**Table xx.** Top 20 Years with the Highest Total Obligated Amount

In [35]:
sql = """
    SELECT
        substring(declarationDate::VARCHAR, 1, 4) as year,
        ROUND(SUM(totalObligated), 0)::BIGINT AS totalObligated
    FROM
        public_assistance
    WHERE
        declarationDate >= '2003-01-01'    
    GROUP BY
        year
    ORDER BY
        totalObligated DESC   
"""

con.sql(sql).df()

    year  totalObligated
0   2020     93457114313
1   2017     57815006617
2   2005     21509286775
3   2012     17883384428
4   2018      6345451122
5   2008      5947021905
6   2021      5234464414
7   2022      4809628729
8   2011      3819139907
9   2004      3465609239
10  2016      3254503265
11  2019      2287881529
12  2023      1892070356
13  2007      1746398987
14  2009      1605743093
15  2010      1533523763
16  2024      1383502956
17  2013      1243401596
18  2015      1167481060
19  2006      1115908796
20  2003      1092053513
21  2014      1031015410

**Table xx.** Top 20 Years and Incident Types with the Highest Total Obligated Amount

In [36]:
sql = """
    SELECT
        substring(declarationDate::VARCHAR, 1, 4) as year,
        incidentType,
        ROUND(SUM(totalObligated), 0)::BIGINT AS totalObligated
    FROM
        public_assistance
    WHERE
        declarationDate >= '2003-01-01'    
    GROUP BY
        1, 2
    ORDER BY
        totalObligated DESC  
    LIMIT 20
"""

con.sql(sql).df()

    year     incidentType  totalObligated
0   2020       Biological     85748618068
1   2017        Hurricane     55339902502
2   2005        Hurricane     20667100370
3   2012        Hurricane     17484753483
4   2022        Hurricane      3717818500
5   2020        Hurricane      3571175987
6   2008        Hurricane      3295165910
7   2018        Hurricane      3283002843
8   2004        Hurricane      2932842864
9   2021        Hurricane      2914438091
10  2008     Severe Storm      2248926413
11  2018         Wildfire      1987915990
12  2016            Flood      1599967274
13  2019  Severe Storm(s)      1415065020
14  2011     Severe Storm      1339441656
15  2007     Severe Storm      1307453241
16  2011        Hurricane      1269171770
17  2016        Hurricane      1117341162
18  2017            Flood      1096353982
19  2009     Severe Storm      1089064265

**Table xx.** Top 20 States with the Highest Total Obligated Amount

In [37]:
sql = """
    SELECT
        state,
        ROUND(SUM(totalObligated), 0)::BIGINT AS totalObligated
    FROM
        public_assistance
    WHERE
        declarationDate >= '2003-01-01'    
    GROUP BY
        state
    ORDER BY
        totalObligated DESC   
    LIMIT 20
"""

con.sql(sql).df()

             state  totalObligated
0      Puerto Rico     36793614855
1         New York     33617112453
2        Louisiana     24970218064
3            Texas     22169182338
4       California     18286152637
5          Florida     17785922221
6   Virgin Islands     15839264991
7       New Jersey      6145263406
8      Mississippi      4231493306
9   North Carolina      3803345210
10   Massachusetts      3709027968
11      Washington      3188604527
12        Colorado      2750804861
13    Pennsylvania      2527666297
14        Maryland      2514327747
15          Oregon      2500375646
16        Illinois      2392526525
17            Iowa      2354944500
18        Virginia      1805076874
19        Missouri      1720353300

**Table xx.** Top 20 States and Incident Types with the Highest Total Obligated Amount

In [38]:
sql = """
    SELECT
        state,
        incidentType,
        ROUND(SUM(totalObligated), 0)::BIGINT AS totalObligated
    FROM
        public_assistance
    WHERE
        declarationDate >= '2003-01-01'    
    GROUP BY
        1, 2
    ORDER BY
        totalObligated DESC   
    LIMIT 20
"""

con.sql(sql).df()

             state incidentType  totalObligated
0      Puerto Rico    Hurricane     35542209396
1        Louisiana    Hurricane     21396779409
2   Virgin Islands    Hurricane     15680481937
3         New York   Biological     15625510704
4         New York    Hurricane     15301525435
5            Texas   Biological     14931375168
6          Florida    Hurricane     13601983195
7       California   Biological     11868705995
8            Texas    Hurricane      6191403421
9          Florida   Biological      3706379958
10     Mississippi    Hurricane      3325696442
11      California     Wildfire      3097063529
12      New Jersey   Biological      3065122302
13   Massachusetts   Biological      3002943753
14      Washington   Biological      2576696096
15       Louisiana   Biological      2496593976
16      New Jersey    Hurricane      2366015094
17        Colorado   Biological      2205820484
18        Maryland   Biological      2157395017
19        Illinois   Biological      2026375366

# Export Data
Export data to reproduce.

In [39]:
# export to parquet
con.sql("COPY public_assistance TO 'data/public-assistance.parquet' (FORMAT PARQUET);")

In [40]:
# sanity check
%ls data/

disaster-declarations.parquet  public-assistance.parquet

In [41]:
# sanity check on exported parquet file
con.sql("SELECT * FROM read_parquet('data/public-assistance.parquet') LIMIT 10;")

┌────────────────┬─────────────────────┬──────────────┬───┬──────────────────────┬──────────────────────┐
│ disasterNumber │   declarationDate   │ incidentType │ … │         hash         │          id          │
│     int64      │      timestamp      │   varchar    │   │       varchar        │       varchar        │
├────────────────┼─────────────────────┼──────────────┼───┼──────────────────────┼──────────────────────┤
│           4023 │ 2011-09-02 00:00:00 │ Hurricane    │ … │ 5ff26ea21f9af4de5d…  │ d247f735-5e5d-4d47…  │
│           4155 │ 2013-11-08 00:00:00 │ Severe Storm │ … │ 39a1559d2dd1a04afa…  │ 39552c91-2dc1-4519…  │
│           4226 │ 2015-06-26 00:00:00 │ Severe Storm │ … │ aef455b4030e92d3c7…  │ d02b7bb6-fb6c-4fb4…  │
│           4314 │ 2017-05-22 00:00:00 │ Severe Storm │ … │ 727e5a2e3628d483b2…  │ 044e88f1-b38e-483c…  │
│           4337 │ 2017-09-10 00:00:00 │ Hurricane    │ … │ ab453e975b05cc1163…  │ 98731455-3b88-4fc0…  │
│           4480 │ 2020-03-20 00:00:00 │ Biological   │ … │ ed6a778c448feb9e7e…  │ d23ffa21-c7cb-4acb…  │
│           4488 │ 2020-03-25 00:00:00 │ Biological   │ … │ 4bc9461a8667de9891…  │ 484a376d-fd16-4cab…  │
│           4480 │ 2020-03-20 00:00:00 │ Biological   │ … │ 015cbd964515723ebe…  │ b3ac45a0-a025-4188…  │
│           4480 │ 2020-03-20 00:00:00 │ Biological   │ … │ b229b92cf1dcd5a412…  │ f56222a9-011a-43ed…  │
│           4488 │ 2020-03-25 00:00:00 │ Biological   │ … │ b237312d93db152d87…  │ b9e7c7ce-a52a-4491…  │
├────────────────┴─────────────────────┴──────────────┴───┴──────────────────────┴──────────────────────┤
│ 10 rows                                                                          22 columns (5 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────┘