# Public Assistance Funded Project Summaries
Author: Mark Bauer

In [1]:
# import libraries
import duckdb
from datetime import datetime

In [2]:
# reproducibility
%reload_ext watermark
%watermark -v -p duckdb

Python implementation: CPython
Python version       : 3.11.0
IPython version      : 8.6.0

duckdb: 1.0.0

In [3]:
# data retrieved
current_date = datetime.now()
print(f"This notebook was executed on {current_date.strftime('%Y-%m-%d')}.")

This notebook was executed on 2024-10-06.

# OpenFEMA Dataset: Public Assistance Funded Project Summaries - v1

## Dataset
Federal Emergency Management Agency (FEMA), OpenFEMA Dataset: Public Assistance Funded Project Summaries - v1. Retrieved from https://www.fema.gov/openfema-data-page/public-assistance-funded-project-summaries-v1. This product uses the FEMA OpenFEMA API, but is not endorsed by FEMA. The Federal Government or FEMA cannot vouch for the data or analyses derived from these data after the data have been retrieved from the Agency's website(s).

Read more about [OpenFEMA Terms and Conditions](https://www.fema.gov/about/openfema/terms-conditions).

## Dataset Description
>FEMA provides supplemental Federal disaster grant assistance for debris removal, emergency protective measures, and the repair, replacement, or restoration of disaster-damaged, publicly owned facilities and the facilities of certain Private Non-Profit (PNP) organizations through the Public Assistance (PA) Program (CDFA Number 97.036). The PA Program also encourages protection of these damaged facilities from future events by providing assistance for hazard mitigation measures during the recovery process (see FEMA Hazard Mitigation Grants Sections 404 and 406: https://www.fema.gov/press-release/20230426/fema-hazard-mitigation-grants-404-and-406).

Source: [OpenFEMA Dataset: Public Assistance Funded Project Summaries - v1](https://www.fema.gov/openfema-data-page/public-assistance-funded-project-summaries-v1)

## Disaster Delcarations
For more information on the disaster declaration process:
- Information about disasters: https://www.fema.gov/disasters
- How a disaster is declared: https://www.fema.gov/disasters/how-declared

# Additional Resources
To examine other cool data visualizations about this data, visit FEMA's [Public Assistance Program Summary of Obligations](https://www.fema.gov/data-visualization/public-assistance-program-summary-obligations) page.

# Read In Data

In [4]:
# duckdb connection
con = duckdb.connect()

# create public assistance table
con.execute("""
    CREATE TABLE public_assistance AS
    FROM read_parquet('https://www.fema.gov/api/open/v1/PublicAssistanceFundedProjectsSummaries.parquet')
"""
)

# sanity check
sql = """
    SELECT *
    FROM public_assistance
    LIMIT 10
"""

con.sql(sql)

┌──────────────────────┬────────────────┬─────────────────┬───┬──────────────────────┬──────────────────────┐
│          id          │ disasterNumber │ declarationDate │ … │     lastRefresh      │         hash         │
│       varchar        │     int16      │      date       │   │      timestamp       │       varchar        │
├──────────────────────┼────────────────┼─────────────────┼───┼──────────────────────┼──────────────────────┤
│ 0646e381-ea0a-46e5…  │           1239 │ 1998-08-26      │ … │ 2023-03-18 17:02:4…  │ a18872962143d707fb…  │
│ bc05fe25-0f1e-4344…  │           1239 │ 1998-08-26      │ … │ 2023-03-18 17:02:4…  │ d1c77a224203725a79…  │
│ d9c845c8-5db4-404b…  │           1239 │ 1998-08-26      │ … │ 2023-03-18 17:02:4…  │ 7fb2d6dd706512236b…  │
│ 9350e760-64da-4931…  │           1239 │ 1998-08-26      │ … │ 2023-03-18 17:02:4…  │ 571fab79609fe373f6…  │
│ a196ef51-9883-47c8…  │           1239 │ 1998-08-26      │ … │ 2023-03-18 17:02:4…  │ 39207f1c57e1f088be…  │
│ 39de6538-b22a-4f4d…  │           1239 │ 1998-08-26      │ … │ 2023-03-18 17:02:4…  │ c40a42519f16f555bf…  │
│ a7b65c71-04ad-42cb…  │           1239 │ 1998-08-26      │ … │ 2023-03-18 17:02:4…  │ 27a47496ec86dfe604…  │
│ 1ce2637e-8b52-4c80…  │           1239 │ 1998-08-26      │ … │ 2023-03-18 17:02:4…  │ eb5abec160a33b3d2b…  │
│ bab5ed18-737b-4604…  │           1239 │ 1998-08-26      │ … │ 2023-03-18 17:02:4…  │ f57284709347d5bb5e…  │
│ 53ca6416-0b75-4c84…  │           1239 │ 1998-08-26      │ … │ 2023-03-18 17:02:4…  │ 8d5736e71037dc2399…  │
├──────────────────────┴────────────────┴─────────────────┴───┴──────────────────────┴──────────────────────┤
│ 10 rows                                                                              12 columns (5 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [5]:
# pandas dataframe view
con.sql(sql).df()

,id,disasterNumber,declarationDate,incidentType,state,county,applicantName,educationApplicant,numberOfProjects,federalObligatedAmount,lastRefresh,hash
0,0646e381-ea0a-46e5-993d-1bdb1cfe2a27,1239,1998-08-26,Severe Storm,Texas,Edwards,EDWARDS (COUNTY),False,20,352427.09,2023-03-18 17:02:48.443,a18872962143d707fb83e3f0b054abda40413d04
1,bc05fe25-0f1e-4344-a120-55f23f45cd4e,1239,1998-08-26,Severe Storm,Texas,Kimble,"JUNCTION, CITY OF",False,1,6234.90,2023-03-18 17:02:48.443,d1c77a224203725a79d26a1d84f8ad2b06b36c7f
2,d9c845c8-5db4-404b-866d-e06b3c73397a,1239,1998-08-26,Severe Storm,Texas,Kimble,KIMBLE (COUNTY),False,5,69933.35,2023-03-18 17:02:48.443,7fb2d6dd706512236b3ed6c0e6ddd6a633b50d38
3,9350e760-64da-4931-ace0-0e37d7e82eb3,1239,1998-08-26,Severe Storm,Texas,Kimble,TEXAS TECH UNIVERSITY CTR,True,1,2850.00,2023-03-18 17:02:48.443,571fab79609fe373f64529b540289ee5dd400ed5
4,a196ef51-9883-47c8-809d-1d797e8e1f48,1239,1998-08-26,Severe Storm,Texas,Kinney,FORT CLARK MUNICIPAL UTILITY,False,1,5016.00,2023-03-18 17:02:48.443,39207f1c57e1f088bef0ce07238c1aa9a18022d8
5,39de6538-b22a-4f4d-9bc5-e8331fae5754,1239,1998-08-26,Severe Storm,Texas,Kinney,KINNEY (COUNTY),False,8,248569.77,2023-03-18 17:02:48.443,c40a42519f16f555bf7a5dcf0b80e9b9822c4a20
6,a7b65c71-04ad-42cb-bf3b-5a9171b890d1,1239,1998-08-26,Severe Storm,Texas,Kinney,SPOFFORD,False,1,3842.44,2023-03-18 17:02:48.443,27a47496ec86dfe6040e1e990fe2a7e629004e1d
7,1ce2637e-8b52-4c80-b393-72a2b498cd51,1239,1998-08-26,Severe Storm,Texas,Maverick,EAGLE PASS,False,11,260653.76,2023-03-18 17:02:48.443,eb5abec160a33b3d2bf0a6f9eaa08295e9a698a9
8,bab5ed18-737b-4604-a286-1c572219c6db,1239,1998-08-26,Severe Storm,Texas,Maverick,EAGLE PASS INDEPENDENT SCHOOL,True,1,4658.78,2023-03-18 17:02:48.443,f57284709347d5bb5e37c1c209c7a091eabb4c8c
9,53ca6416-0b75-4c84-9eed-af4c59460502,1239,1998-08-26,Severe Storm,Texas,Maverick,MAVERICK (COUNTY),False,2,8837.25,2023-03-18 17:02:48.443,8d5736e71037dc2399842f82a355a85d07ee1e91

# Describe and Summarize Data

In [6]:
# count rows
con.sql("SELECT COUNT(id) AS count_rows FROM public_assistance")

┌────────────┐
│ count_rows │
│   int64    │
├────────────┤
│     185878 │
└────────────┘

In [7]:
# examine column datatypes
sql = "DESCRIBE SELECT * FROM public_assistance"
describe_relation = con.sql(sql)

(con
 .sql("SELECT column_name, column_type FROM describe_relation")
 .show(max_rows=50)
)

┌────────────────────────┬─────────────┐
│      column_name       │ column_type │
│        varchar         │   varchar   │
├────────────────────────┼─────────────┤
│ id                     │ VARCHAR     │
│ disasterNumber         │ SMALLINT    │
│ declarationDate        │ DATE        │
│ incidentType           │ VARCHAR     │
│ state                  │ VARCHAR     │
│ county                 │ VARCHAR     │
│ applicantName          │ VARCHAR     │
│ educationApplicant     │ BOOLEAN     │
│ numberOfProjects       │ SMALLINT    │
│ federalObligatedAmount │ DOUBLE      │
│ lastRefresh            │ TIMESTAMP   │
│ hash                   │ VARCHAR     │
├────────────────────────┴─────────────┤
│ 12 rows                    2 columns │
└──────────────────────────────────────┘

In [8]:
# summary statistics
sql = "SUMMARIZE SELECT * FROM public_assistance"
summarize_relation = con.sql(sql)

summarize_relation.df()

,column_name,column_type,min,max,approx_unique,avg,std,q25,q50,q75,count,null_percentage
0,id,VARCHAR,00002220-90a3-474a-a2fc-5cd033195b36,ffff6434-3cc9-4130-8363-32de43bddcb8,187579,None,None,None,None,None,185878,0.0
1,disasterNumber,SMALLINT,1239,4828,1651,2911.577287252929,1259.7934500531678,1691,3151,4247,185878,0.0
2,declarationDate,DATE,1998-08-26,2024-09-28,1266,None,None,None,None,None,185878,0.0
3,incidentType,VARCHAR,Biological,Winter Storm,28,None,None,None,None,None,185878,0.0
4,state,VARCHAR,Alabama,Wyoming,63,None,None,None,None,None,185878,0.0
5,county,VARCHAR,,Ziebach,3556,None,None,None,None,None,185878,0.0
6,applicantName,VARCHAR,#9 AREA FIRE DEPARTMENT,plainville,87428,None,None,None,None,None,185878,0.0
7,educationApplicant,BOOLEAN,false,true,2,None,None,None,None,None,185878,0.0
8,numberOfProjects,SMALLINT,0,2685,329,4.48387652115904,17.357135343840383,1,2,4,185878,0.0
9,federalObligatedAmount,DOUBLE,-1850352.29,12954204261.16,174592,1319390.2955774125,53740363.839959726,6692.818729981112,23415.57422232217,96884.78372481914,185878,0.0
10,lastRefresh,TIMESTAMP,2023-03-18 17:02:48.443,2024-10-05 15:05:48.767,332,None,None,None,None,None,185878,0.0
11,hash,VARCHAR,0002201381cace6e52e77b8466bca5298a5096e2,ffffaefb91876ff560b9ae9fc1c1ae73f2ef1904,180291,None,None,None,None,None,185878,0.0

In [9]:
# examine NULL percentage
sql = """
    SELECT column_name, column_type, null_percentage
    FROM summarize_relation
    ORDER BY null_percentage DESC
"""

con.sql(sql).show(max_rows=50)

┌────────────────────────┬─────────────┬─────────────────┐
│      column_name       │ column_type │ null_percentage │
│        varchar         │   varchar   │  decimal(9,2)   │
├────────────────────────┼─────────────┼─────────────────┤
│ id                     │ VARCHAR     │            0.00 │
│ disasterNumber         │ SMALLINT    │            0.00 │
│ declarationDate        │ DATE        │            0.00 │
│ incidentType           │ VARCHAR     │            0.00 │
│ state                  │ VARCHAR     │            0.00 │
│ county                 │ VARCHAR     │            0.00 │
│ applicantName          │ VARCHAR     │            0.00 │
│ educationApplicant     │ BOOLEAN     │            0.00 │
│ numberOfProjects       │ SMALLINT    │            0.00 │
│ federalObligatedAmount │ DOUBLE      │            0.00 │
│ lastRefresh            │ TIMESTAMP   │            0.00 │
│ hash                   │ VARCHAR     │            0.00 │
├────────────────────────┴─────────────┴─────────────────┤
│ 12 rows                                      3 columns │
└────────────────────────────────────────────────────────┘

In [10]:
# examine declarationDate
sql = """
    SELECT *
    FROM summarize_relation
    WHERE column_name = 'declarationDate'
"""

con.sql(sql).df()

,column_name,column_type,min,max,approx_unique,avg,std,q25,q50,q75,count,null_percentage
0,declarationDate,DATE,1998-08-26,2024-09-28,1266,None,None,None,None,None,185878,0.0

In [11]:
# examine lastRefresh
sql = """
    SELECT *
    FROM summarize_relation
    WHERE column_name = 'lastRefresh'
"""

con.sql(sql).df()

,column_name,column_type,min,max,approx_unique,avg,std,q25,q50,q75,count,null_percentage
0,lastRefresh,TIMESTAMP,2023-03-18 17:02:48.443,2024-10-05 15:05:48.767,332,None,None,None,None,None,185878,0.0

In [12]:
# examine federalObligatedAmount
sql = """
    SELECT *
    FROM summarize_relation
    WHERE column_name = 'federalObligatedAmount'
"""

con.sql(sql).df()

,column_name,column_type,min,max,approx_unique,avg,std,q25,q50,q75,count,null_percentage
0,federalObligatedAmount,DOUBLE,-1850352.29,12954204261.16,174592,1319390.2955774125,53740363.839959726,6692.818729981112,23415.57422232217,96884.78372481914,185878,0.0

In [13]:
# examine numberOfProjects
sql = """
    SELECT *
    FROM summarize_relation
    WHERE column_name = 'numberOfProjects'
"""

con.sql(sql).df()

,column_name,column_type,min,max,approx_unique,avg,std,q25,q50,q75,count,null_percentage
0,numberOfProjects,SMALLINT,0,2685,329,4.48387652115904,17.357135343840383,1,2,4,185878,0.0

# Preview Values

In [14]:
# preview data
sql = """
    SELECT *
    FROM public_assistance
    LIMIT 5   
"""

con.sql(sql).df()

,id,disasterNumber,declarationDate,incidentType,state,county,applicantName,educationApplicant,numberOfProjects,federalObligatedAmount,lastRefresh,hash
0,0646e381-ea0a-46e5-993d-1bdb1cfe2a27,1239,1998-08-26,Severe Storm,Texas,Edwards,EDWARDS (COUNTY),False,20,352427.09,2023-03-18 17:02:48.443,a18872962143d707fb83e3f0b054abda40413d04
1,bc05fe25-0f1e-4344-a120-55f23f45cd4e,1239,1998-08-26,Severe Storm,Texas,Kimble,"JUNCTION, CITY OF",False,1,6234.90,2023-03-18 17:02:48.443,d1c77a224203725a79d26a1d84f8ad2b06b36c7f
2,d9c845c8-5db4-404b-866d-e06b3c73397a,1239,1998-08-26,Severe Storm,Texas,Kimble,KIMBLE (COUNTY),False,5,69933.35,2023-03-18 17:02:48.443,7fb2d6dd706512236b3ed6c0e6ddd6a633b50d38
3,9350e760-64da-4931-ace0-0e37d7e82eb3,1239,1998-08-26,Severe Storm,Texas,Kimble,TEXAS TECH UNIVERSITY CTR,True,1,2850.00,2023-03-18 17:02:48.443,571fab79609fe373f64529b540289ee5dd400ed5
4,a196ef51-9883-47c8-809d-1d797e8e1f48,1239,1998-08-26,Severe Storm,Texas,Kinney,FORT CLARK MUNICIPAL UTILITY,False,1,5016.00,2023-03-18 17:02:48.443,39207f1c57e1f088bef0ce07238c1aa9a18022d8

In [15]:
# count per declaration and applicant
sql = """
    SELECT
       disasterNumber,
       applicantName,
       count(id) AS count
    FROM
        public_assistance
    GROUP BY
        1, 2
    ORDER BY
        count DESC   
"""

relation = con.sql(sql)

con.sql("""
    SELECT *
    FROM relation
    ORDER BY count DESC
    LIMIT 20
""")

┌────────────────┬──────────────────────────┬───────┐
│ disasterNumber │      applicantName       │ count │
│     int16      │         varchar          │ int64 │
├────────────────┼──────────────────────────┼───────┤
│           1580 │ JACKSON, TOWNSHIP OF     │    17 │
│           1580 │ WASHINGTON, TOWNSHIP OF  │    16 │
│           3180 │ WASHINGTON (TOWNSHIP OF) │    13 │
│           1453 │ JEFFERSON, TOWNSHIP OF   │    12 │
│           1557 │ WASHINGTON (TOWNSHIP OF) │    12 │
│           1580 │ UNION, TOWNSHIP OF       │    12 │
│           1453 │ WASHINGTON, TOWNSHIP OF  │    11 │
│           1580 │ MONROE, TOWNSHIP OF      │    11 │
│           1580 │ PERRY, TOWNSHIP OF       │    10 │
│           1453 │ JACKSON, TOWNSHIP OF     │    10 │
│           1580 │ SALEM, TOWNSHIP OF       │     9 │
│           3180 │ PENN (TOWNSHIP OF)       │     9 │
│           1453 │ PERRY, TOWNSHIP OF       │     9 │
│           1453 │ UNION, TOWNSHIP OF       │     9 │
│           1557 │ JACKSON (TOWNSHIP OF)    │     9 │
│           1898 │ WASHINGTON (TOWNSHIP OF) │     9 │
│           4077 │ JACKSON (TOWNSHIP OF)    │     9 │
│           1699 │ LINCOLN TOWNSHIP         │     9 │
│           4267 │ WASHINGTON (TOWNSHIP OF) │     8 │
│           1557 │ FRANKLIN (TOWNSHIP OF)   │     8 │
├────────────────┴──────────────────────────┴───────┤
│ 20 rows                                 3 columns │
└───────────────────────────────────────────────────┘

The data suggests that one Disaster Number and Applicant can have multiple records in this dataset. Let's examine further.

In [16]:
# examine count unique for applicantName = 'JACKSON, TOWNSHIP OF'
(con
 .sql("""
    SELECT *
    FROM public_assistance
    WHERE applicantName = 'JACKSON, TOWNSHIP OF'
        AND disasterNumber = 1580
""")
 .df()
 .describe(include='object')
 .loc['unique']
)

id               17
incidentType      1
state             1
county           17
applicantName     1
hash             17
Name: unique, dtype: object

Data suggests that an Applicant can have many counties. Let's group by county to confirm.

In [17]:
# group by columns and order by DESC to view unique counts
sql = """
    SELECT
        disasterNumber,
        applicantName,
        county,
        count(id) AS count
    FROM
        public_assistance
    GROUP BY
        1, 2, 3
    ORDER BY
        count DESC   
"""

relation = con.sql(sql)

# use 'JACKSON, TOWNSHIP OF' as example
con.sql("""
    SELECT *
    FROM relation
    WHERE applicantName = 'JACKSON, TOWNSHIP OF'
        AND disasterNumber = 1580
    ORDER BY count DESC
""")

┌────────────────┬──────────────────────┬────────────┬───────┐
│ disasterNumber │    applicantName     │   county   │ count │
│     int16      │       varchar        │  varchar   │ int64 │
├────────────────┼──────────────────────┼────────────┼───────┤
│           1580 │ JACKSON, TOWNSHIP OF │ Crawford   │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Franklin   │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Highland   │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Shelby     │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Hardin     │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Muskingum  │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Noble      │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Montgomery │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Pike       │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Guernsey   │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Paulding   │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Allen      │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Pickaway   │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Darke      │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Knox       │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Monroe     │     1 │
│           1580 │ JACKSON, TOWNSHIP OF │ Richland   │     1 │
├────────────────┴──────────────────────┴────────────┴───────┤
│ 17 rows                                          4 columns │
└────────────────────────────────────────────────────────────┘

From the analysis above, unique record consists of a disaster, an applicant, and a county. Obligated dollars are not only distributed to the Applicant but are then passed down to counties.

# Analysis

## Statistics

In [18]:
sql = """
    SELECT
        ROUND(SUM(federalObligatedAmount), 0)::BIGINT AS federalObligatedAmount
    FROM public_assistance  
"""

con.sql(sql)

┌────────────────────────┐
│ federalObligatedAmount │
│         int64          │
├────────────────────────┤
│           245245629361 │
└────────────────────────┘

In [19]:
# format dollar value
federalObligatedAmount = con.sql(sql).df().values[0][0]

print(f"Total federal obligated amount: ${federalObligatedAmount:,}")

Total federal obligated amount: $245,245,629,361

In [20]:
sql = """
    SELECT
        COUNT(DISTINCT disasterNumber)
    FROM public_assistance
"""

disasterNumber = con.sql(sql).df().values[0][0]

print(f"Total disaster declarations: {disasterNumber:,}")

Total disaster declarations: 1,654

In [21]:
sql = """
    SELECT
        COUNT(DISTINCT applicantName)
    FROM
        public_assistance  
    WHERE 
        numberOfProjects > 0
"""

applicantName = con.sql(sql).df().values[0][0]

print(f"Number of applicants with funded projects: {applicantName:,}")

Number of applicants with funded projects: 86,246

In [22]:
sql = """
    SELECT
        SUM(numberOfProjects)::BIGINT
    FROM public_assistance  
        
"""

numberOfProjects = con.sql(sql).df().values[0][0]

print(f"Total funded Project Worksheets (PWs): {numberOfProjects:,}")

Total funded Project Worksheets (PWs): 833,454

## Tables

**Table xx.** Top 20 Disaster Declarations, States, Years, and Incident Types with the Highest Federal Obligated Amount

In [23]:
sql = """
    SELECT
        disasterNumber,
        state,
        substring(declarationDate::VARCHAR, 1, 4) as year,
        incidentType,
        ROUND(SUM(federalObligatedAmount), 0)::BIGINT AS federalObligatedAmount
    FROM
        public_assistance
    GROUP BY
        ALL
    ORDER BY
        federalObligatedAmount DESC   
"""

relation = con.sql(sql)

con.sql("""
    SELECT *
    FROM relation
    ORDER BY federalObligatedAmount DESC
    LIMIT 20
""").df()

    disasterNumber           state  year incidentType  federalObligatedAmount
0             4339     Puerto Rico  2017    Hurricane             34204077661
1             4340  Virgin Islands  2017    Hurricane             15618471267
2             4480        New York  2020   Biological             15592472185
3             4485           Texas  2020   Biological             14931375168
4             4085        New York  2012    Hurricane             14740187736
5             1603       Louisiana  2005    Hurricane             13530668144
6             4482      California  2020   Biological             11828895430
7             1391        New York  2001         Fire              4708614487
8             4486         Florida  2020   Biological              3693646921
9             1604     Mississippi  2005    Hurricane              3184451567
10            4488      New Jersey  2020   Biological              3055188202
11            4496   Massachusetts  2020   Biological              2999735622
12            4332           Texas  2017    Hurricane              2925636242
13            4559       Louisiana  2020    Hurricane              2738678043
14            4611       Louisiana  2021    Hurricane              2639501898
15            4481      Washington  2020   Biological              2573438680
16            4484       Louisiana  2020   Biological              2495205446
17            4337         Florida  2017    Hurricane              2461181260
18            4673         Florida  2022    Hurricane              2364961153
19            4086      New Jersey  2012    Hurricane              2243235649

**Table xx.** Top 20 Disaster Declarations, States, Years, Applicants and Incident Types with the Highest Federal Obligated Amount

In [24]:
sql = """
    SELECT
        disasterNumber,
        state,
        substring(declarationDate::VARCHAR, 1, 4) as year,
        applicantName,
        incidentType,
        ROUND(SUM(federalObligatedAmount), 0)::BIGINT AS federalObligatedAmount
    FROM
        public_assistance
    GROUP BY
        ALL
    ORDER BY
        federalObligatedAmount DESC   
"""

relation = con.sql(sql)

con.sql("""
    SELECT *
    FROM relation
    ORDER BY federalObligatedAmount DESC
    LIMIT 20
""").df()

,disasterNumber,state,year,applicantName,incidentType,federalObligatedAmount
0,4339,Puerto Rico,2017,PR Electric Power Authority,Hurricane,12954204261
1,4485,Texas,2020,Texas Department of State Health Services,Biological,9697013440
2,4480,New York,2020,City of New York - Management and Budget,Biological,8613685564
3,4085,New York,2012,NEW YORK,Hurricane,8513455550
4,4339,Puerto Rico,2017,PR Aqueduct and Sewer Authority,Hurricane,4627455402
5,4485,Texas,2020,Texas Division of Emergency Management,Biological,4035301943
6,4339,Puerto Rico,2017,PR Department of Education,Hurricane,2578468665
7,1603,Louisiana,2005,"NEW ORLEANS, CITY OF",Hurricane,2455438616
8,4482,California,2020,California Department of Public Health,Biological,2411946425
9,4480,New York,2020,NYS Division of Budget,Biological,2296158147
10,4486,Florida,2020,Florida Division of Emergency Management,Biological,2263076868
11,4340,Virgin Islands,2017,V.I. Water and Power Authority / St Croix,Hurricane,2152535418
12,4482,California,2020,California Governor's Office of Emergency Serv...,Biological,2100743430
13,4340,Virgin Islands,2017,V.I. Department of Education / St Croix,Hurricane,2003202861
14,4340,Virgin Islands,2017,V.I. Department of Education / St Thomas,Hurricane,1936799860
15,4340,Virgin Islands,2017,V.I. Department of Public Works / St Croix,Hurricane,1839475110
16,4498,Colorado,2020,Colorado Department of Public Health - Environ...,Biological,1618269470
17,1603,Louisiana,2005,RECOVERY SCHOOL DISTRICT,Hurricane,1606164532
18,4339,Puerto Rico,2017,PR Public Housing Administration,Hurricane,1502207638
19,4673,Florida,2022,Florida Division of Emergency Management,Hurricane,1467081209

**Table xx.** Top 20 Years with the Highest Federal Obligated Amount

In [25]:
sql = """
    SELECT
        substring(declarationDate::VARCHAR, 1, 4) as year,
        ROUND(SUM(federalObligatedAmount), 0)::BIGINT AS federalObligatedAmount
    FROM
        public_assistance
    GROUP BY
        year
    ORDER BY
        federalObligatedAmount DESC   
"""

relation = con.sql(sql)

con.sql("""
    SELECT *
    FROM relation
    ORDER BY federalObligatedAmount DESC
    LIMIT 20
""").df()

    year  federalObligatedAmount
0   2020             92640073564
1   2017             57795386835
2   2005             21262993127
3   2012             17889151347
4   2018              6256818460
5   2008              5946622930
6   2001              5843745213
7   2021              5160625947
8   2022              4821228410
9   2011              3819025442
10  2004              3400392826
11  2016              2799000441
12  2019              2287107443
13  2023              1809946553
14  2007              1711103631
15  2009              1605743093
16  2010              1533523763
17  2013              1243403628
18  2015              1167508093
19  2006              1087690898

**Table xx.** Incident Types with the Highest Federal Obligated Amount

In [26]:
sql = """
    SELECT
        incidentType,
        ROUND(SUM(federalObligatedAmount), 0)::BIGINT AS federalObligatedAmount
    FROM
        public_assistance
    GROUP BY
        incidentType
    ORDER BY
        federalObligatedAmount DESC   
"""

relation = con.sql(sql)

con.sql("""
    SELECT *
    FROM relation
    ORDER BY federalObligatedAmount DESC
""").df()

                       incidentType  federalObligatedAmount
0                         Hurricane            117337399808
1                        Biological             85644076645
2                      Severe Storm             13092168490
3                              Fire              6398730254
4                             Flood              5373655929
5                          Wildfire              3857131522
6                   Severe Storm(s)              3713678863
7                  Severe Ice Storm              1906764889
8                    Tropical Storm              1841110908
9                        Earthquake              1507708625
10                        Snowstorm              1190088584
11                     Winter Storm               824616048
12                          Tornado               635227263
13                            Other               626916036
14                    Coastal Storm               488394278
15                          Typhoon               474171313
16                          Volcano               124893424
17                    Mud/Landslide                72406530
18                          Tsunami                50365943
19                             Snow                30753523
20                  Dam/Levee Break                20600698
21                Volcanic Eruption                11125210
22                        Terrorist                11005338
23  National Special Security Event                 6215069
24                         Freezing                 3252444
25                         Chemical                 1639099
26                 Toxic Substances                 1458636
27                          Drought                   73992

**Table xx.** Top 20 Years and Incident Types with the Highest Federal Obligated Amount

In [27]:
sql = """
    SELECT
        substring(declarationDate::VARCHAR, 1, 4) as year,
        incidentType,
        ROUND(SUM(federalObligatedAmount), 0)::BIGINT AS federalObligatedAmount
    FROM
        public_assistance
    GROUP BY
        year, incidentType
    ORDER BY
        federalObligatedAmount DESC   
"""

relation = con.sql(sql)

con.sql("""
    SELECT *
    FROM relation
    ORDER BY federalObligatedAmount DESC
    LIMIT 20
""").df()

    year     incidentType  federalObligatedAmount
0   2020       Biological             85641183204
1   2017        Hurricane             55327019037
2   2005        Hurricane             20443631376
3   2012        Hurricane             17490241387
4   2001             Fire              4795549820
5   2022        Hurricane              3707411930
6   2020        Hurricane              3430278679
7   2008        Hurricane              3294989443
8   2018        Hurricane              3282368557
9   2004        Hurricane              2883976508
10  2021        Hurricane              2843368294
11  2008     Severe Storm              2248703906
12  2018         Wildfire              1898889291
13  2019  Severe Storm(s)              1415521222
14  2011     Severe Storm              1339441656
15  2007     Severe Storm              1279021712
16  2011        Hurricane              1269057305
17  2016            Flood              1147780152
18  2016        Hurricane              1114025460
19  2017            Flood              1096353341

**Table xx.** Top 20 States with the Highest Federal Obligated Amount

In [28]:
sql = """
    SELECT
        state,
        ROUND(SUM(federalObligatedAmount), 0)::BIGINT AS federalObligatedAmount
    FROM
        public_assistance
    GROUP BY
        state
    ORDER BY
        federalObligatedAmount DESC   
"""

relation = con.sql(sql)

con.sql("""
    SELECT *
    FROM relation
    ORDER BY federalObligatedAmount DESC
    LIMIT 20
""").df()

             state  federalObligatedAmount
0         New York             38390145822
1      Puerto Rico             37184180175
2        Louisiana             24708820865
3            Texas             22698894269
4       California             18175657211
5          Florida             17251800713
6   Virgin Islands             15844666501
7       New Jersey              6266408346
8      Mississippi              4256716905
9   North Carolina              4016531861
10   Massachusetts              3726194573
11      Washington              3249002697
12        Colorado              2759097871
13    Pennsylvania              2536305647
14        Maryland              2532181545
15        Illinois              2451254212
16            Iowa              2382668303
17          Oregon              1941060386
18        Virginia              1856833427
19        Missouri              1794923713

**Table xx.** Top 20 States and Incident Types with the Highest Federal Obligated Amount

In [29]:
sql = """
    SELECT
        state,
        incidentType,
        ROUND(SUM(federalObligatedAmount), 0)::BIGINT AS federalObligatedAmount
    FROM
        public_assistance
    GROUP BY
        state, incidentType
    ORDER BY
        federalObligatedAmount DESC   
"""

relation = con.sql(sql)

con.sql("""
    SELECT *
    FROM relation
    ORDER BY federalObligatedAmount DESC
    LIMIT 20
""").df()

             state incidentType  federalObligatedAmount
0      Puerto Rico    Hurricane             35925700194
1        Louisiana    Hurricane             21118550447
2   Virgin Islands    Hurricane             15685856021
3         New York   Biological             15596034372
4         New York    Hurricane             15346649254
5            Texas   Biological             14931375168
6          Florida    Hurricane             12739097727
7       California   Biological             11838263735
8            Texas    Hurricane              6180985420
9         New York         Fire              4708614487
10         Florida   Biological              3695456566
11     Mississippi    Hurricane              3297426051
12      New Jersey   Biological              3055188202
13      California     Wildfire              3007017823
14   Massachusetts   Biological              3002030707
15      Washington   Biological              2574437670
16       Louisiana   Biological              2495205446
17      New Jersey    Hurricane              2405581272
18        Colorado   Biological              2205820484
19        Maryland   Biological              2157392851